*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 15px;
    margin: 150px;
    padding: 10px;
    position: relative;
    background-color: rgba(1, 38, 69, 0.748);
}
.row{
    display: flex;
    justify-content: center;
}
.disc{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    margin: 15px;
    text-align: center;
}
.profile{
    width: 150px;
    border-radius: 100%;
    position: relative;
    top: -70px;

}
h1{
    font-size: 28px;
    position: absolute;
    top: 90px;
    color: white;
}
p{
font-size: 16px;
color: white;
position: absolute;
top: 130px;
}
.div{
    font-size: 15px;
}
.button{
    margin: 10px; 
    border: 0px;
    padding: 8px;
    font-size: 14px;
    width: 80px;
    border-radius: 50px;
    color: white;
    background-color: rgb(90, 90, 249);
}


@media screen and (min-width:320px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url(BG.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        border-radius: 15px;
        margin: 150px;
        padding: 10px;
        position: relative;
        background-color: rgba(1, 38, 69, 0.748);
    }
    .row{
        display: flex;
        justify-content: center;
    }
    .disc{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        margin: 15px;
        text-align: center;
    }
    .profile{
        width: 150px;
        border-radius: 100%;
        position: relative;
        top: -70px;
    
    }
    h1{
        font-size: 28px;
        position: absolute;
        top: 90px;
        color: white;
    }
    p{
    font-size: 16px;
    color: white;
    position: absolute;
    top: 130px;
    }
    .div{
        font-size: 15px;
    }
    .button{
        margin: 10px; 
        border: 0px;
        padding: 8px;
        font-size: 14px;
        width: 80px;
        border-radius: 50px;
        color: white;
        background-color: rgb(90, 90, 249);
    }
    
}
@media screen and (min-width:375px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url(BG.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        border-radius: 15px;
        margin: 150px;
        padding: 10px;
        position: relative;
        background-color: rgba(1, 38, 69, 0.748);
    }
    .row{
        display: flex;
        justify-content: center;
    }
    .disc{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        margin: 15px;
        text-align: center;
    }
    .profile{
        width: 150px;
        border-radius: 100%;
        position: relative;
        top: -70px;
    
    }
    h1{
        font-size: 28px;
        position: absolute;
        top: 90px;
        color: white;
    }
    p{
    font-size: 16px;
    color: white;
    position: absolute;
    top: 130px;
    }
    .div{
        font-size: 15px;
    }
    .button{
        margin: 10px; 
        border: 0px;
        padding: 8px;
        font-size: 14px;
        width: 80px;
        border-radius: 50px;
        color: white;
        background-color: rgb(90, 90, 249);
    }
    
}
@media screen and (min-width:425px){
    
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url(BG.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        border-radius: 15px;
        margin: 150px;
        padding: 10px;
        position: relative;
        background-color: rgba(1, 38, 69, 0.748);
    }
    .row{
        display: flex;
        justify-content: center;
    }
    .disc{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        margin: 15px;
        text-align: center;
    }
    .profile{
        width: 150px;
        border-radius: 100%;
        position: relative;
        top: -70px;
    
    }
    h1{
        font-size: 28px;
        position: absolute;
        top: 90px;
        color: white;
    }
    p{
    font-size: 16px;
    color: white;
    position: absolute;
    top: 130px;
    }
    .div{
        font-size: 15px;
    }
    .button{
        margin: 10px; 
        border: 0px;
        padding: 8px;
        font-size: 14px;
        width: 80px;
        border-radius: 50px;
        color: white;
        background-color: rgb(90, 90, 249);
    }
    
    
}
@media screen and (min-width:768px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url(BG.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        border-radius: 15px;
        margin: 150px;
        padding: 10px;
        position: relative;
        background-color: rgba(1, 38, 69, 0.748);
    }
    .row{
        display: flex;
        justify-content: center;
    }
    .disc{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        margin: 20px;
        text-align: center;
    }
    .profile{
        width: 200px;
        border-radius: 100%;
        position: relative;
        top: -80px;
    
    }
    h1{
        font-size: 32px;
        position: absolute;
        top: 160px;
        color: white;
    }
    p{
    font-size: 16px;
    color: white;
    position: absolute;
    top: 200px;
    }
    .div{
        font-size: 16px;
    }
    .button{
        margin: 10px; 
        border: 0px;
        padding: 10px;
        font-size: 16px;
        width: 100px;
        border-radius: 50px;
        color: white;
        background-color: rgb(90, 90, 249);
    }
    
    
}
@media screen and (min-width:1024px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url(BG.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        border-radius: 15px;
        margin: 200px;
        padding: 10px;
        position: relative;
        background-color: rgba(1, 38, 69, 0.748);
    }
    .row{
        display: flex;
        justify-content: center;
    }
    .disc{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        margin: 20px;
        text-align: center;
    }
    .profile{
        width: 200px;
        border-radius: 100%;
        position: relative;
        top: -80px;
    
    }
    h1{
        font-size: 32px;
        position: absolute;
        top: 160px;
        color: white;
    }
    p{
    font-size: 16px;
    color: white;
    position: absolute;
    top: 200px;
    }
    .div{
        font-size: 16px;
    }
    .button{
        margin: 10px; 
        border: 0px;
        padding: 10px;
        font-size: 16px;
        width: 100px;
        border-radius: 50px;
        color: white;
        background-color: rgb(90, 90, 249);
    }
    
    
}
@media screen and (min-width:1440px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url(BG.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        border-radius: 15px;
        margin: 200px;
        padding: 10px;
        position: relative;
        background-color: rgba(1, 38, 69, 0.748);
    }
    .row{
        display: flex;
        justify-content: center;
    }
    .disc{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        margin: 20px;
        text-align: center;
    }
    .profile{
        width: 200px;
        border-radius: 100%;
        position: relative;
        top: -80px;
    
    }
    h1{
        font-size: 32px;
        position: absolute;
        top: 160px;
        color: white;
    }
    p{
    font-size: 16px;
    color: white;
    position: absolute;
    top: 200px;
    }
    .div{
        font-size: 16px;
    }
    .button{
        margin: 10px; 
        border: 0px;
        padding: 10px;
        font-size: 16px;
        width: 100px;
        border-radius: 50px;
        color: white;
        background-color: rgb(90, 90, 249);
    }
    
}
@media screen and (min-width:2560px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-image: url(BG.jpg);
        background-repeat: no-repeat;
        background-size: cover ;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        border-radius: 30px;
        margin: 350px;
        padding: 20px;
        position: relative;
        background-color: rgba(1, 38, 69, 0.748);
    }
    .row{
        display: flex;
        justify-content: center;
    }
    .disc{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        margin: 40px;
        text-align: center;
    }
    .profile{
        width: 350px;
        border-radius: 100%;
        position: relative;
        top: -150px;
    
    }
    h1{
        font-size: 60px;
        position: absolute;
        top: 225px;
        color: white;
    }
    p{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 300px;
    }
    .div{
        font-size: 30px;
    }
    .button{
        margin: 20px; 
        border: 0px;
        padding: 20px;
        font-size: 32px;
        width: 200px;
        border-radius: 70px;
        color: white;
        background-color: rgb(90, 90, 249);
    }
}

